<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, :method => :get, class: 'navbar-wagon-item navbar-wagon-link' %>

      <!-- Button (call-to-action) -->
      <%= link_to "Add SWOT", new_swot_table_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>


</div>

<style>
.navar-wagon {
  width: 100% !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
a:hover {
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}
.navbar-wagon-brand img {
  width: 190px;
  height: 90px;
}
@media screen and (max-width: 720px) {
  .navbar-wagon-brand img {
    margin-left: -50px;
  } 
}
@media screen and (max-width: 320px) {
  .navbar-wagon-brand img {
    margin-left: -60px;
  } 
}
</style>