<!DOCTYPE html>
<html>
  <head>
    <title>Octo Swot</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <center>

      <% if flash[:alert] %>
        <br>
        <p class="alert"><%= flash[:alert] %></p>
        <br>
      <% end %>

      <%= yield %>
    </center>
  </body>
</html>
